@page "/import-folder"
@using Radzen
@using Radzen.Blazor
@using SimpleMailArchiver.Data
@using SimpleMailArchiver.Services.MessageImportService
@using SimpleMailArchiver.Shared
@inject MessageImportService MessageImportService;
@inject ApplicationContext AppContext;

<RadzenCard Style="max-width:900px;margin:20px auto;">
    <ChildContent>
        <h3>Import mail from folder on server</h3>

        <p class="text-muted">This will import emails from a folder with .eml files mounted to the
            <strong>@AppContext.PathConfig.ImportBasePath</strong> in the docker container.</p>

        <RadzenTemplateForm TItem="string" Data="_rootImportPath">
            <div class="mb-3">
                <label class="form-label">Root folder name for the import in archive</label>
                <RadzenTextBox @bind-Value="_rootImportPath" Style="width:300px" AriaLabel="Root import path"/>
                <div class="form-text">E.g.: If you enter "inbox/", all emails from the import folder will be put in the
                    inbox folder of the archive. Subfolders will be created under the inbox folder.
                </div>
            </div>

            <div class="mb-3">
                <RadzenButton Icon="upload" ButtonStyle="ButtonStyle.Primary" Click="@(() => Task.Run(ImportFolder))"
                              Disabled="@AppContext.ImportManager.IsRunning">Import from folder
                </RadzenButton>
            </div>
        </RadzenTemplateForm>

        @if (AppContext.ImportManager.IsRunning)
        {
            <ImportDialog/>
        }
    </ChildContent>
</RadzenCard>


@code {

    private string _rootImportPath = "inbox/";

    private void ImportFolder()
    {
        AppContext.ImportManager.Start((progress, ct) => MessageImportService.ImportFromFolder(AppContext.PathConfig.ImportBasePath, _rootImportPath, progress, ct));
    }

}
