@page "/import-server"
@using Radzen
@using Radzen.Blazor
@using SimpleMailArchiver.Data
@using SimpleMailArchiver.Services.MessageImportService
@using SimpleMailArchiver.Shared

@inject MessageImportService MessageImportService;
@inject ApplicationContext AppContext;
@inject ILogger<ImportFromServer> Logger;

<RadzenCard Style="max-width:900px;margin:20px auto;">
    <ChildContent>
        <h3>Import from mailserver</h3>

        <div class="mb-3">
            <label class="form-label">Select account</label>
            <RadzenDropDown @bind-Value="_selectedAccountFilename" Data="AppContext.Accounts"
                            TextProperty="AccountDisplayName" ValueProperty="AccountFilename" Style="width:300px"/>
        </div>

        <div class="mb-3">
            <RadzenButton Icon="download" ButtonStyle="ButtonStyle.Primary" Click="@(() => Task.Run(ImportFromAccount))"
                          Disabled="@AppContext.ImportManager.IsRunning">Import from selected account
            </RadzenButton>
        </div>

        @if (AppContext.ImportManager.IsRunning)
        {
            <ImportDialog/>
        }
    </ChildContent>
</RadzenCard>


@code {
    private string? _selectedAccountFilename;

    protected override void OnInitialized()
    {
        _selectedAccountFilename = AppContext.Accounts.FirstOrDefault()?.AccountFilename;
        base.OnInitialized();
    }

    private void ImportFromAccount()
    {
        if (_selectedAccountFilename == null) throw new ArgumentException("No valid account selected.");
        AppContext.ImportManager.Start((progress, ct) => MessageImportService.ImportFromServer(_selectedAccountFilename, progress, ct));
    }

}
