@using Microsoft.EntityFrameworkCore;

@page "/"

<PageTitle>SimpleMailArchive</PageTitle>

<h1>SimpleMailArchive</h1>

The archive currently contains @numMessages messages.

@code {
    private int numMessages;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        var context = await Program.ContextFactory.CreateDbContextAsync();
        numMessages = await context.MailMessages.CountAsync();
        StateHasChanged();
    }
}



