table {
    table-layout: fixed;
    width: 100%;
}

table td {
    word-wrap: break-word; /* All browsers since IE 5.5+ */
    overflow-wrap: break-word; /* Renamed property in CSS3 draft spec */
}

body .modal-dialog { /* Width */
    max-width: 90%;
    width: auto !important;
    display: inline-block;
}

.modal {
    display: flex !important;
    justify-content: center;
}

.modal-open .modal {

}

.browse-table-header.attachments {
    width: 4em !important;
}

.browse-table-header.date {
    width: 7em;
}

p.in-table {
    margin: 0px;
}

.browse-table-cell {
    height: 50px;
    overflow: hidden;
}