@using SimpleMailArchiver.Data;
@using System.Text.Json;

<tr @onclick="onclick">
    @foreach(TableHeader header in Enum.GetValues(typeof(TableHeader)))
    {
        <td>
            <div class="browse-table-cell">
                @if (header == TableHeader.Attachments)
                {
                    var attachments = JsonSerializer.Deserialize<string[]>(Message.Attachments);
                    var hasAttachments = attachments?.Length > 0;
                    if (hasAttachments)
                    {
                        <p class="in-table">&check; (@attachments?.Length)</p>
                    }
                    else
                    {
                        <p class="in-table">&cross;</p>
                    }
                }
                else if (header == TableHeader.Date)
                {
                    <p class="in-table">@Message.Date.ToString("dd.MM.yyyy HH:mm:ss")</p>
                }
                else
                {
                    <p class="in-table">@typeof(MailMessage).GetProperty(header.ToString())?.GetValue(Message)</p>
                }
            </div>
        </td>	
    }
</tr>

@code{
    [Parameter]
    public MailMessage Message { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> onclick { get; set; }

    protected override void OnInitialized()
    {
    }

}