@using System.Text.Json
@using SimpleMailArchiver.Data
<tr @onclick="Onclick">
    @foreach(TableHeader header in Enum.GetValues(typeof(TableHeader)))
    {
        <td>
            <div class="browse-table-cell">
                @if (header == TableHeader.Attachments)
                {
                    if (Message.Attachments is not null)
                    {
                        var attachments = JsonSerializer.Deserialize<string[]>(Message.Attachments);
                        if (attachments?.Length > 0)
                        {
                            <p class="in-table">&check; (@attachments?.Length)</p>
                        }
                    }
                    else
                    {
                        <p class="in-table">&cross;</p>
                    }
                }
                else if (header == TableHeader.Date)
                {
                    <p class="in-table">@Message.Date.ToString("dd.MM.yyyy HH:mm:ss")</p>
                }
                else
                {
                    <p class="in-table">@typeof(MailMessage).GetProperty(header.ToString())?.GetValue(Message)</p>
                }
            </div>
        </td>	
    }
</tr>

@code{
    [Parameter]
    public required MailMessage Message { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> Onclick { get; set; }

    protected override void OnInitialized()
    {
    }

}