<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SimpleMailArchiver</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Browse Archive
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import-server">
                <span class="oi oi-plus" aria-hidden="true"></span> Import from Account
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import-folder">
                <span class="oi oi-plus" aria-hidden="true"></span> Import from Folder
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;
    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;
#nullable disable
    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}

