@inherits LayoutComponentBase
@rendermode InteractiveServer
<RadzenComponents @rendermode="InteractiveServer" />
<PageTitle>Simple Mail Archiver</PageTitle>
<RadzenHeader >
    <h2 Style="margin-left: 10px;">Simple Mail Archiver</h2>
</RadzenHeader>
<RadzenSidebar>
    <RadzenPanelMenu>
        <RadzenPanelMenuItem Text="Browse Archive" Icon="list" Path="/"/>
        <RadzenPanelMenuItem Text="Import from Account" Icon="add" Path="import-server"/>
        <RadzenPanelMenuItem Text="Import from Folder" Icon="add" Path="import-folder"/>
    </RadzenPanelMenu>
</RadzenSidebar>

<RadzenBody>
    @Body
</RadzenBody>